.App {
  font-family: sans-serif;
  text-align: left;
  color: lightcoral;
}
.App-parrafo {
  font-family: sans-serif;
  text-align: justify;
  color: black;
}
.App-P2 {
  font-family: sans-serif;
  text-align: justify;
  color: black;
